#all-content {
  background-color: #0f4c5c;
  color: #fff;
}

#user-input {
  width: 50%;
}

#title-text {
  margin-bottom: 20px;
  margin-top: 20px;
}

.app-info-text {
  background-color: #212529;
  border: 1px solid transparent;
  border-radius: 30px;
}
